<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
	<ConnectionString url="localhost/facebookdatamining?user=root&password=" />
	<crawller>
		<levelLimit>3</levelLimit>
	</crawller>
	<acconts>
		<login user="anbudeneve@hotmail.com" password="leavemealone"/>
		<login user="rafael.nascimento42@yahoo.com.br" password="leavemealone"/>
		<login user="miguel.brito28@yahoo.com" password="leavemealone"/>
		<login user="pereirasilvaluana@yahoo.com.br" password="leavemealone1"/>
	</acconts>
</config>